.product-detail-container{
    /* background-color: aqua; */
    border: 1px solid black;
    margin: 25px;
    padding: 20px;
   
}

.product-detail-container img{
    margin-top: 10px;
    width: 55px;
    height: 55px;
    
}

.product-detail-container:hover{
    background-color: bisque;
}



.add-to-cart:hover{

    color: black;
   
    background-color: white;
}

.add-to-cart{
    /* margin-left: 50px; */
    border-radius: 3px;
    color: white;
   
    background-color: black;
    padding: 5px;
    
}


.product-detail-main-container{
    display: flex;
    justify-content: center;
}


.color-select{
    margin-right: 20px;
}







